<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Nabar+Menu</title>
</head>

<body>
    <div class="nav">
        <div class="left">
            <h3>logo</h3>
        </div>

        <form class="search_form">
            <label for="search-box" type='submit' class="fas fa-search"></label>
            <input type="search" placeholder="type your search...">
        </form>     

        <div class="right">
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">contacts</a></li>
            </ul>
            <div class="hamburger"><i class="fas fa-bars"></i></div>
        </div>
    </div>

    <div class="menu">
        <div id="close_side" class="fas fa-times"></div>
        <h1>welcome !</h1>
        <div class="menu_top">
                <i class="search-icon fas fa-search"></i>
                <input type="search" placeholder="type your search..">
        </div>

        <div class="menu_center">
            <a href="#"> <i class="fas fa-angle-right"></i>home</a>
            <a href="#"> <i class="fas fa-angle-right"></i>about us</a>
            <a href="#"> <i class="fas fa-angle-right"></i>services</a>
            <a href="#"> <i class="fas fa-angle-right"></i>contacts</a>
        </div>
    </div>

    <h1>You are calling me from {{request.remote_addr}}</h1>

    <h2>Bienvenue Vinyssus</h2>
    <script src="/script/script.js"></script>
</body>

</html>