*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    border: none;
    transition: all .2s linear;
}

body{
    background-color: beige;
}

.nav{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    padding: 1rem;
    height: 4rem;
    width: 100%;
}

/* left part */
h3{
    text-transform: capitalize;
    color: #333;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 1.5rem;
}

/* middle part of the nav */
.search_form{
    background: white;
    width: 20rem;
    height: 2rem;
    display: inline-block;
    text-align: center;
    padding-top: .4rem;
    border-radius: 20px;
}
.search_form input{
    width: 80%;
    font-size: 1rem;
}
.search_form label{
    font-size: .9rem;
}
.search_form label:hover{
    color: lightgray;
}

/* right part of the nav bar */
.right{
    display: flex;
    align-items: center;
    padding-right: 2rem;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin-right: 2rem;
}
li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
}
li a:hover{
    color: lightgrey;
}

.hamburger{
    margin-right: 1rem;
    cursor: pointer;
}

.hamburger{
    display: none;
}

.hamburger i{
    font-size: 1.5rem;
}
.hamburger i:hover{
    color: lightgrey;
}

.menu{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 17rem;
    background: #fff;
    z-index: 10000;
    background: lightgray;
    display: flex;
    flex-direction: column;
}
.menu.active{
    left: 0;
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
}

.menu #close_side{
    position: absolute;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.menu #close_side:hover{
    transform: rotate(90deg);
    color: #333;
}
.menu h1{
    padding-left: 2.5rem;
    padding-top: 2rem;
}

.menu_top{
    background: white;
    border-radius: 20px;
    width: 16rem;
    height: 2rem;
    padding-top: .4rem;
    margin-top: 2rem;
    margin-left: .5rem;
}
.menu_top i{
    padding-left: 1rem;
}
.menu_top input{
    width: 80%;
    font-size: 1rem;
    padding-left: .5rem;
}

.menu_center{
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 4rem;
}
.menu_center a{
    text-decoration: none;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 3rem;
}
.menu_center a i{
    margin-right: 5px;
    color: #333;
}
.menu_center a:hover{
    color: lightcoral;
    scale: .5;
}

h2{
    text-align: center;
    color: blue;
}

@media(max-width: 940px) {
    ul{
        display: none;
    }
    .hamburger{
        display: block;
    }
}
@media(max-width: 560px) {
    .search_form{
        display: none;
    }
}